javaSoapClient/src/main/java/proxy/bank/bank.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BankWs">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/bank?xsd=1"/>
</xsd:schema>
</types>
<message name="convertEuroToDirham">
<part name="parameters" element="tns:convertEuroToDirham"/>
</message>
<message name="convertEuroToDirhamResponse">
<part name="parameters" element="tns:convertEuroToDirhamResponse"/>
</message>
<message name="convertDirhamToEuro">
<part name="parameters" element="tns:convertDirhamToEuro"/>
</message>
<message name="convertDirhamToEuroResponse">
<part name="parameters" element="tns:convertDirhamToEuroResponse"/>
</message>
<message name="getAccounts">
<part name="parameters" element="tns:getAccounts"/>
</message>
<message name="getAccountsResponse">
<part name="parameters" element="tns:getAccountsResponse"/>
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<portType name="BankService">
<operation name="convertEuroToDirham">
<input wsam:Action="http://ws/BankService/convertEuroToDirhamRequest" message="tns:convertEuroToDirham"/>
<output wsam:Action="http://ws/BankService/convertEuroToDirhamResponse" message="tns:convertEuroToDirhamResponse"/>
</operation>
<operation name="convertDirhamToEuro">
<input wsam:Action="http://ws/BankService/convertDirhamToEuroRequest" message="tns:convertDirhamToEuro"/>
<output wsam:Action="http://ws/BankService/convertDirhamToEuroResponse" message="tns:convertDirhamToEuroResponse"/>
</operation>
<operation name="getAccounts">
<input wsam:Action="http://ws/BankService/getAccountsRequest" message="tns:getAccounts"/>
<output wsam:Action="http://ws/BankService/getAccountsResponse" message="tns:getAccountsResponse"/>
</operation>
<operation name="getAccount">
<input wsam:Action="http://ws/BankService/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://ws/BankService/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
</portType>
<binding name="BankServicePortBinding" type="tns:BankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="convertEuroToDirham">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertDirhamToEuro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankWs">
<port name="BankServicePort" binding="tns:BankServicePortBinding">
<soap:address location="http://localhost:8080/bank"/>
</port>
</service>
</definitions>